@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project will showcase my use of ASP.Net to create a project to be used as a rehab data tracking web-app.</p>
</div>
