@model Patient_Info

<form method="post">
	<div class="p-3 mt-4 tablecolor">
		<div class="row pb-2">
			<h2 class="text-info">Add New Patient</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="KneeROM"></label>
			<input asp-for="KneeROM" class="form-control" />
			<span asp-validation-for="KneeROM" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="KneeStrength"></label>
			<input asp-for="KneeStrength" class="form-control" />
			<span asp-validation-for="KneeStrength" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="LowerbackExtROM"></label>
			<input asp-for="LowerbackExtROM" class="form-control" />
			<span asp-validation-for="LowerbackExtROM" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="LowerBackFlexionROM"></label>
			<input asp-for="LowerBackFlexionROM" class="form-control" />
			<span asp-validation-for="LowerBackFlexionROM" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PainFreeWeightLifted"></label>
			<input asp-for="PainFreeWeightLifted" class="form-control" />
			<span asp-validation-for="PainFreeWeightLifted" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Patient_Info" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}




